<!DOCTYPE HTML>

<html>
	<head>
		<title>Mastermind</title>
		<link href="styles/mastermind.css" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="scripts/mastermind.js"></script>
	</head>
	<body>
		<h1>Mastermind with Sinatra</h1>
		<a href = "mastermind">New</a>
		<br>

		<% if @over %>	
			<%= @message %>	
			<div>			
				<% @code.each do |peg| %>
					<div class="peg <%= peg %>"></div>
				<% end %>
			</div>
		<% else %>
			<div>
				<% 4.times do %>
					<div class="black peg"></div>
				<% end %>
			</div>
		<% end %>
		<br>
		<% rows = @guesses.nil? ? 12 : 12 - @guesses.size %>
		<% rows.times do |row| %>
			<div>
				<% 4.times do %>
					<div class="peg"></div>
				<% end %>
				<% 4.times do %>
					<div class="key"></div>
				<% end %>
			</div>
		<% end %>
		<% unless @guesses.nil? %>
			<% @guesses.each do |guess, match| %>
				<div>
					<% guess.each do |peg| %>
						<div class="peg <%= peg %>"></div>
					<% end %>
					<% match[0].times do |n| %>
						<div class="black key"></div>
					<% end %>
					<% match[1].times do |n| %>
						<div class="grey key"></div>
					<% end %>
					<% (4 - (match[0] + match[1])).times do |n| %>
						<div class="key"></div>
					<% end %>
				</div>
			<% end %>
		<% end %>
		<br>

		<div>			
			<form method="POST">
				<% (1..4).each do |n| %>
				  <div id="pending<%= n %>" class="pending"></div>
				<% end %>
				<input type="hidden" id="guess" name="guess" />
				<input type="submit" id="crack" disabled="true" value="Guess" />				
				<input type="button" id="clear" value="Clear" />
			</form>
		</div>
		<br>
    
    <h3>Selection</h3>
    <% [%w(A B C D), %w(E F G H)].each do |code_group| %>
			<div>
			  <% code_group.each do |a| %>
					<button data-code="<%= a %>" class="<%= a %> selection"></button>
				<% end %>
			</div>
		<% end %>
		
		<a href = "..">Back</a>
	</body>
</html>